<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>My scratchboard page</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">The Open Championship - Blue Bubbles Pool Leaderboard</a>
            </div>
          </div>
        </nav>

        <div class="container">

            {% for bettor in bettor_scores %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">{{ bettor.bettor }}</th>
                            <th scope="col">Score: {{ bettor.current_score }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Player</th>
                            <th>To Par</th>
                            <th>Position</th>
                        </tr>

                        {% for line in scoring %}
                            {% if  line[0]  == bettor.bettor %}
                                <tr>
                                    <td>{{ line[2] }}</td>
                                    <td>{{ line[3] }}</td>
                                    <td>{{ line[4] }}</td>
                            {% endif %}

                        {% endfor %}

                    </tbody>

                </table>
            {% endfor %}

            <p>Cut bonuses are not included until the end of Round 2.</p>
            <p>Bonuses for Top 5 are not included until the tournament has completed.</p>

            {% for item in tournament_details %}
                <p>Leaderboard data last updated: {{ item.last_updated_date.strftime("%m/%d/%Y, %-I:%M:%S %p") }} EDT</p>
            {% endfor %}

        </div>

    </body>
</html>